<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">


    <tbody>

    <th:block th:each="job : ${jobs}">
      <table class="job-listing">
      <tr>
        <td th:text ="${job.Id}">"ID"</td>
      </tr>
      <tr>
        <td th:text="${job.name}">"Name:"</td>
      </tr>
      <tr>
        <td  th:text="${job.getEmployer()}">"Employer:"</td>
      </tr>
      <tr>
        <td th:text="${job.getLocation()}">"Location:"</td>
      </tr>
      <tr>
        <td  th:text="${job.getPositionType()}">"Position Type:"</td>
      </tr>
      <tr>
        <td th:text="${job.getCoreCompetency()}">"Core Competency:"</td>
      </tr>
      </table>
    </th:block>

    </tbody>








</div>

</body>
</html>